@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  margin:0px;
	color: #333;
}
body {
  background-color: #8f897e;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
	text-decoration: none;
}
a img{
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
}
#maincontent {
  background-color: #f3f3f3;
  max-width: 1000px;
  margin: auto;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  background-color: #252831;
  text-align:center;
  height: 80px;

}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  margin: 0;
  list-style: none;
  background-color: #eee;
  padding: 1em;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  min-height: 250px;
  
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  padding-left: 0.5em;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.1em;
}
.filter-options select {
  margin-left: 1em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  padding :0px;
  margin-bottom: 0;
}
#restaurants-list li {
  width: 30%;
  padding: 0.6em;
  list-style: none;
  background-color: white;
  margin-top: 1%;
  margin-bottom:1%;
  margin-left: auto;
  margin-right:auto;
  max-width: 200px;
  min-width: 200px;
}
#restaurants-list .restaurant-img {
  max-width: 200px;
}
#restaurants-list li h1 {

}
#restaurants-list p {
 
}
#restaurants-list li a {

}

/* ====================== Restaurant Details ====================== */
.inside header {

}
.inside #map-container {
}
.inside #map {
}
.inside #footer {

}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
}
#restaurant-img {
  width: 95%;
  /* margin-left: auto; */
  /* margin-right: 1em; */
  max-height: 300px;
  max-width: 1050px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 95%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  margin-left: 1em;
}
#reviews-container {
  padding: 1em 1.5em 1em;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  list-style: none;
  margin: 0;
  padding: 0;}
#reviews-list li {    margin-bottom: 1em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  padding: 1em;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

@media only screen and (min-width: 800px) {
  #maincontent{max-width: 100%}
  .inside #map-container {
    position:relative;
    float: right;
    width : 50%;
  }
  #restaurant-container {
    width: 50%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: absolute;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
}